[Unit]
Description = Cart Service

[Service]
User=roboshop
Environment=MONGO=true
Environment=REDIS_HOST=<REDIS-SERVER-IPADDRESS>
Environment=CATALOGUE_HOST=<CATALOGUE-SERVER-IP>
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target
